
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, form, a, p, textarea{
    margin:0;
    padding: 0;
}

body{

    font-weight: bold;
}
ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
    color:#fff;
}

img{
    border:none;
    display: block;
}

.clearfloat{
    zoom: 1;
}

.clear{
    clear: both;
}

.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
