/*首页导航*/


.top-menu{
	display: block;
	width: 200px;
	z-index: 1000;
	background: #C81623;
}
.top-title{
	height: 46px;
	line-height: 40px;
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	color:#ffffff;
	background: #e4393c;
	padding-left: 20px;

}
.top-menu li {
	height: 31px;
	line-height: 31px;
	font-size: 16px;
	list-style: none;
	text-align: left;
	padding-left: 8px;
	z-index: 1000;
	background-image: url(../images/1.png);
	background-repeat: no-repeat;
	background-position: right;

}
.top-menu li a{
	text-decoration: none;
	color: #fff;
	z-index: 1000;
}
.top-menu li a:hover{
	text-decoration: underline;
	color:#000;
	font-weight: bold;
	z-index: 1000;
}
.top-menu li:hover{
	border-right: none;
	background-image:none;
	background: #ff0034;
	color:#000;
	z-index: 100;
}
.submenu{
	margin-top:6px;
	display: none;
	width:715px;
	left:199px;
	position: absolute;
	top: 40px;
	border: 1px solid #ddd;
	z-index: 1000;
	background:#fff;
	box-shadow: 0 0 8px #ddd;
	-moz-box-shadow: 0 0 8px #ddd;
	-webkit-box-shadow: 0 0 8px #ddd;
}
.left-menu{
	float:left;
	width:490px;
	margin:5px;
}
.right-menu{
	float:right;
	width:200px;
	margin:5px;
}
.top-menu li:hover .submenu{
	display: block;
}
.top-menu li:hover span {
	background: #fff;
	display: inline-block;
	z-index:1000;
	height:30px;
	width:30px;
	position: relative;
	float:right;
}
.left-menu dl{
	display:block ;
	border-bottom:1px solid #eee;
	padding-bottom: 6px;
	overflow: hidden;

}
.left-menu dl dt{
	display: block;
	float:left;
	width:60px;
	text-align: right;
	height: 22px;
	line-height: 22px;
	padding-right: 6px;
}
.left-menu dl dt a{
	color:#e4393c;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;

}
.left-menu dl dd{
	display: block;
	overflow: hidden;

}
.left-menu dl dd a{
	display: block;
	float: left;
	border-left: 1px solid #ccc;
	color:#737373;
	font-size: 9pt;
	padding:0 8px;
	height:14px;
	line-height: 14px;
	margin:4px 0;
}
.right-menu dl dd{
	margin:3px 0;
}
.right-menu dl dt{
	color: #e4393c;
	font-weight: bold;
	font-size: 10pt;

}
.right-menu dl dd a{
	font-size: 9pt;
	color: #737373;
	line-height: 22px;
}
.right-menu dl dd a:hover{
	color:#737373;
	text-decoration: underline;
}

li {
	list-style: none;
	margin: 0;
	padding: 0
}
a {
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none
}
/*
+----------------------------------------------------------------+
	Extras
+----------------------------------------------------------------+
*/

.cf:before, .cf:after {
	content: " ";
	display: table
}
.cf:after {
	clear: both
}
.clear {
	clear: both
}
/*
+----------------------------------------------------------------+
	Definicoes Gerais
+----------------------------------------------------------------+
*/

body {
	color: #eaeaea;
	font: 62.5% Verdana, Geneva, sans-serif
}
h1 {
	font: 3.8em 'OratorpraOi-TextTwo';
	text-align: center;
	margin-top: 150px;
	margin-right: 0;
	margin-bottom: 50px;
	margin-left: 0;
}
/*
+----------------------------------------------------------------+
	Slideshow
+----------------------------------------------------------------+
*/

.slider {
	margin: 0 auto;
	width: 730px
}
.slider-container {
	height: 453px;
	overflow: hidden;
	position: relative;
	width: 730px;
	z-index: -100;
}
.slider-container .slider-wrapper {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 5000em; /*Fix for prevent display errors*/
	-webkit-transition: all 800ms ease;
	   -moz-transition: all 800ms ease;
	     -o-transition: all 800ms ease;
	        transition: all 800ms ease;
}
.slider-container .slide {
	float: left;
	height: 453px;
	overflow: hidden;
	position: relative;
	width: 730px;
	z-index: -100;
}
.slider-nav {
	text-align: center;
	width: 160px;
	height: 20px;
	line-height: 20px;
	margin:-50px auto 0 ;
	background: #ffffff;
	opacity: 0.4;
	border-radius: 10px;
}
.slider-nav li {
	display: inline;
	padding: 3px;
	z-index: 1000;
}

.slider-nav .bullet {
	opacity: 1;
	background-color: #000000;
	border-radius: 50%;
	display: inline-block;
	text-indent: -9000px;
	overflow: hidden;
	height: 14px;
	width: 14px;
}
.slider-nav .active {
	background-color: #e7433b
}
.slider-nav .prev, .slider-nav .next {
	background: url('../images/sprite1.png') no-repeat;
	display: inline-block;
	text-indent: -9000px;
	overflow: hidden;
	height: 16px;
	width: 16px;
}
.slider-nav .next {
	background-position: -15px top
}
